<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <style>
      textarea {
        width: 100%;
        height: 175px;
      }

      footer {
        color: #333;
        font-size: 0.9rem;
        margin-top: 20px;
        font-style: italic;
      }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer>This application is <a href="https://www.gnu.org/philosophy/free-sw.en.html" target="_blank">free software</a>, and you can view the <a href="https://github.com/alexgleason/feedback" target="_blank">source code</a>.</footer>
  </body>
</html>
